# Ignore everything
*

# GLB files
!/models/room/Desktop2.glb
!/models/room/Room2.glb
!/models/room/Env2.glb
!/models/room/door.glb
!/models/tv_room/TVRoom.glb
!/models/stations/pick_tote.glb
!/models/stations/redcare_one_piece.glb
!/models/stations/robot_base.glb
!/models/es/CAT_6080_S.glb
!/models/sku/multi_cap_bottle.glb
!/models/sku/paper_box.glb
!/models/sku/coffee.glb

# Trans
!/locales

# Robot
!/models/robots/abb_irb1300/**

# Texture
!/textures/night.hdr
!/textures/mines.hdr
!/textures/curtain.png
!/textures/paper_light.jpg

# Images
!/videos/covariant.mp4
!/videos/covariant2.mp4
!/videos/mm.mp4

!/images/wechat.png
!/images/instagram.png

# Fonts
!/fonts/NotoSansSC-Regular.ttf
!/fonts/HanyiSentyTang.ttf
!/fonts/Huiwenmincho-improved.ttf
!/fonts/elegant_typewriter/ELEGANT TYPEWRITER Regular.ttf
!/fonts/handwritten.ttf
!/fonts/Noto_Sans,Noto_Sans_SC/Noto_Sans_SC/static/NotoSansSC-Bold.ttf
!/fonts/Noto_Sans,Noto_Sans_SC/Noto_Sans_SC/static/NotoSansSC-Regular.ttf

!*/
